.contactContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 70px ;
    padding-bottom: 70px;
    min-height: 820px;
    

    form {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        min-height: 470px;
        

        input:focus {
            outline: none;
        }

        .inputContainer {
            background-color: #F2F1F1;
            width: 50%;
            min-height: 5vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 1rem;
            
        }

        label {
            color: #47555E;
            font-size: 20px;
            margin-bottom: 0.2rem;
        }
        .inputText {
            background-color: #F2F1F1;
            border: none;
            border-bottom: 1px solid #47555E;
            width: 100%;
            color: #47555E;
            font-size: 1rem;
        }
        #textAreaContainer {
            display: flex;
            flex-direction: column;
            width: 50%;
            background-color: #F2F1F1;

            textarea {
                background-color: #F2F1F1;
                border: #47555E 1px solid;
                color: #47555E;
                font-size: 1rem;
            }
            textarea:focus {
                outline: none;
            }
            
            
            
            
        }
        
    }
}

.successContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 750px) {
    .contactContainer {
        form {
            
            .inputContainer {
                width: 100%;
                display: flex;
                
                .inputText {
                    width: 100%;
                    align-self: center;
                    border-radius: 0%;
                }
            }
            #textAreaContainer {
                width: 100%;
            }
            #messageTextArea {
                margin-top: 0.15rem;
            }

        }
        
    }
}