.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px ;
    padding-bottom: 70px;

    form {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        

        input:focus {
            outline: none;
        }

        .inputContainer {
            background-color: #F2F1F1;
            width: 50%;
            height: 5vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 1rem;
            
        }

        label {
            color: #47555E;
            font-size: 20px;
        }
        .inputText {
            background-color: #F2F1F1;
            border: none;
            border-bottom: 1px solid #47555E;
            width: 100%;
            color: #47555E;
            font-size: 1rem;
        }
        #textAreaContainer {
            display: flex;
            flex-direction: column;
            width: 50%;
            background-color: #F2F1F1;

            textarea {
                background-color: #F2F1F1;
                border: #47555E 1px solid;
                color: #47555E;
                font-size: 1rem;
            }
            textarea:focus {
                outline: none;
            }
            
            
            
            
        }
        
    }
}