.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px ;
    padding-bottom: 70px;

    form {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        

        .inputText {
            background-color: #F2F1F1;
            border: none;
            border-bottom: 1px solid #47555E;
            width: 50%;
            

            
        }
    }
}