header {
    width: 100vw;
    height: 10vh;
    background-color: #47555E;
    border-bottom: #F2F1F1 solid 1px;
    display: flex;
    position: fixed;
   

    

    nav {
        height: 100%;
        display: flex;
        align-items: center;
        flex: 1;
        
        

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;

            li {
                margin: 0 1rem;

                Link {
                    font-weight: 200;
                    font-style: normal;
                }
            }
            
        }
    }
    .logo_section {
        height: 100%;
        width: 10vw;
        background-image: url(../public/img/Logo-charles-cantin-1.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        justify-self: center;
        flex: 1;
        
    }
    .social_section {
        height: 100%;
        width: 30%;
        display: flex;
        align-items: center ;
        justify-content: end;
        flex: 1;

        a {
            margin: 0 1rem;
        }
    }

}