.home {
    min-width: 100vw;
    min-height: 900px;
    background-image: url(../public/img/home_background.jpg);
    background-position: bottom;
    background-size: cover;
    align-items: center;
    
    

    .nameContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #line {
            margin: 1rem 0;
            width: 600px;
            height: 0px;
            border: 1px solid #47555E;
        }
        p {
            font-size: 64px;
            font-weight: 400;
            color: #47555E;

        }

    }
}