.portfolioContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px ;
    padding-bottom: 70px;

    #filterNav {
        margin-top: 35px;
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;

        li {
            cursor: pointer;
        }

        .filterItem {
            margin: 0 0rem;
            color: #47555E;
            padding: 0.5rem 1rem;
            border-right: #47555E 1px solid;
            
        }
        .filterItemActive {
            margin: 0 0rem;
            color: #F2F1F1;
            background-color: #47555E;
            padding: 0.5rem 1rem;
        }
        #first {
            border-radius: 5px 0 0 5px;
        }
        #last {
            border-right: none;
            border-radius: 0 5px 5px 0;
        }
    }
    .photosContainer {
        width: 90% ;
        margin-top: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        p {
            color: #47555E;
        }

        .photoContainer {
            margin: 0rem 1rem;
            margin-bottom: 1rem;
            .photoSquare {
                object-fit: cover;

            }

            

        }
    }
    #seeMoreBtn {
        margin-top: 35px;
        border: none;
        border-bottom: 1px solid #47555E;
        border-top: 1px solid #47555E;
        background-color: #F2F1F1;
        font-size: 20px;
        color: #47555E;
        cursor: pointer;
       
    }

}