@import 'settings.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'home.scss';
@import 'portfolio.scss';
@import 'prestations.scss';
@import 'contact.scss';
@import url('https://use.typekit.net/vnu5wuf.css');


$color-dark: #47555E;
$color-light: #F2F1F1;
$color-blue: #9FD1FF;
$font: 'aglet-sans', sans-serif;
$body-font-weight: 100;
$title-font-weight: 300;



/* CSS Rules for generic elements/////////////////*/
* {
    font-family: $font;
}

html {
    background-color: #47555E;
}
p {
    font-family: $font;
}
h1, h2 {
    font-size: 64px;
    color: $color-dark;
    font-weight: 400;
    font-style: normal;
}
h2 {
    margin-top: 35px;
}
h3 {
    font-size: 36px;
    color: $color-light;
    font-family: $font;
    
}
h4 {
    font-weight: 400;
    font-size: 36px;
}
a {
    
    font-weight: $title-font-weight;
    font-family: $font;
    color: $color-light;
    font-size: 24px;
    text-decoration: none;
    list-style: none;

    .social_icon {
        color: $color-light;
    }
    
}
.container {
    background-color: $color-light;
    width: 100vw;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    
}
.descriptionContainer {
    margin-top: 35px;
    width: 50%;
    text-align: center;
    color: $color-dark;

    
}
.btn {
    margin-top: 35px;
    border: none;
    border-bottom: 1px solid #47555E;
    border-top: 1px solid #47555E;
    background-color: #F2F1F1;
    font-size: 20px;
    color: #47555E;
    cursor: pointer;
   
}
